<div class ="container color-dark">
    
    <div class="col">
     <p>skills items </p>
    </div>
 </div>
 
 <div class="container color-light">
   
    <div class = "col">
       
       <form>
       <input type="text" class="txt" name="framework" placeholder="(Skills)" [(ngModel)]= "mySkills.framework"> <br>
       <input type="text" class="txt" name="language" placeholder="(language)" [(ngModel)]= "mySkills.language"> <br>
       <input type="text" class="txt" name="database" placeholder="(database)" [(ngModel)]= "mySkills.database"> <br>
           
       <input type="submit" class="btn" value="{{ btnTxt }}" (click)="AgregarJob()">
       </form>
    </div>
 
    <div class = "col">
       <p class="life-container" *ngFor="let job of skills;">
       
         <input type="submit" class="btn" value="update" (click)='confirmUpdate(job.id!)'>
         <input type="submit" class="btn" value="delete" (click)='confirmDelete(job.id!)'>
       {{job.framework}} - {{job.language}}
       </p>
    </div>
 
 </div>
 