<div class="container-app">
   <section class="section-header">
     <h2><i class="fas fa-certificate"></i> Certificados</h2>
 
     <!-- FORMULARIO -->
     <form class="form-header">
       <div class="form-group" style="grid-column: span 2;">
         <label>Nombre del Certificado</label>
         <input
           type="text"
           name="certificates"
           placeholder="Ej. Scrum Foundation, AWS Cloud, etc."
           [(ngModel)]="myCertificates.certificates"
            
         />
       </div>
 
       <!-- BOTONES -->
       <div class="form-buttons" style="grid-column: span 2">
        <button
          *ngIf="!isEditing"
          type="button"
          class="btn-primary btn-standard"
          (click)="AgregarJob()"
        >
          <i class="fas fa-plus"></i> Agregar
        </button>
      
        <button *ngIf="isEditing" type="button" class="btn-primary btn-standard" (click)="updateJob()">
          <i class="fas fa-save"></i> Actualizar
        </button>
        <button *ngIf="isEditing" type="button" class="btn-secondary btn-standard" (click)="resetForm()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
     </form>
 
     <!-- LISTADO DE CERTIFICADOS -->
     <div class="header-list">
       <div class="header-card" *ngFor="let job of certificates">
         <div class="header-info">
           <p class="header-name">{{ job.certificates }}</p>
         </div>
         <div class="header-actions">
           <button class="btn-secondary btn-standard" (click)="editJob(job.id!)">
             <i class="fas fa-pen"></i> Editar
           </button>
           <button class="btn-danger btn-standard" (click)="confirmDelete(job.id!)">
             <i class="fas fa-trash"></i> Eliminar
           </button>
         </div>
       </div>
     </div>
   </section>
 </div>
 