<div class ="container color-dark">
    
    <div class="col">
     <p>interests items </p>
    </div>
 </div>
 
 <div class="container color-light">
   
    <div class = "col">
       
       <form>
       <input type="text" class="txt" name="work" placeholder="(interests)" [(ngModel)]= "myInterests.work"> <br>
           
       <input type="submit" class="btn" value="{{ btnTxt }}" (click)="AgregarJob()">
       </form>
    </div>
 
    <div class = "col">
       <p class="life-container" *ngFor="let job of interests;">
       
         <input type="submit" class="btn" value="update" (click)='confirmUpdate(job.id!)'>
         <input type="submit" class="btn" value="delete" (click)='confirmDelete(job.id!)'>
       {{job.work}}
       </p>
    </div>
 
 </div>
 